<!DOCTYPE html>
<link lang="en">
<head>
    <meta charset="UTF-8">
    <title>master's words</title>
</head>
<link rel="stylesheet" href="static/indexcss.css"/>
<body>

<h1  align="center" id="title">Welcome to Weibo by master's words</h1>
<h2> latest 5 words for you !!! </h2>
{% if latest_list %}
<ul>
    <p class="title">类型（来源）| 内容</p>
    {% for late in latest_list %}
    <ul><p class="title">{{ late.category }}</p>
        <p class="content">{{ late.content }}</p>
    </ul>
    {% endfor %}
</ul>
{% else %}
<p>No record are available.</p>
{% endif %}
</body>
</html>