<!DOCTYPE html>
<link lang="en">
<head>
    <meta charset="UTF-8">
    <title>master's words</title>
</head>
<link rel="stylesheet" href="static/indexcss.css"/>
<body>

<h1  align="center" id="title">Welcome to VangeBugs</h1>
<h2 class="title" >-------分类 | Bug数-------</h2>
{% if latest_list %}
<ul>
    {% for late in latest_list %}
    <ul><p class="title">{{ late.category }}</p>
        <p class="content">{{ late.dcount }}</p>
    </ul>
    {% endfor %}
</ul>
{% else %}
<p>No record are available.</p>
{% endif %}
</body>
</html>